Notebook that creates an is_holiday feature to our discretized dataframe.

https://towardsdatascience.com/5-minute-guide-to-detecting-holidays-in-python-c270f8479387

In [162]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy
import math
import plotly.express as px

import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

import datetime as dt
import time
import matplotlib.pyplot as plt

import holidays
import datetime

In [2]:
#import sys 
#sys.path.append("..")
#%cd ..

C:\Users\User\OneDrive - Danmarks Tekniske Universitet\SAS_030919\6. Semester\BSc\Bachelor2021

In [142]:
from DataPrep.ImportData import importer

In [143]:
df = importer().LagCreation()

In [144]:
df.head()

,Start Date,Label,Charging Time (mins),Energy (kWh),Total Duration (mins),Port Number,CenterLon,CenterLat,Level 1,Level 2,...,Year_Month_8,Year_Month_9,Year_Month_10,Year_Month_11,Year_Month_12,Energy (kWh)_lag1,Energy (kWh)_lag2,Energy (kWh)_lag3,Energy (kWh)_lag4,Energy (kWh)_lag5
5,2011-08-03,0,0.0,3.164483,0.0,10,-122.16,37.445,0,5,...,1,0,0,0,0,3.173573,2.520622,6.201527,3.008648,3.124728
6,2011-08-04,0,0.0,3.556425,0.0,4,-122.16,37.445,0,2,...,1,0,0,0,0,3.164483,3.173573,2.520622,6.201527,3.008648
7,2011-08-05,0,0.0,3.148942,0.0,10,-122.16,37.445,0,5,...,1,0,0,0,0,3.556425,3.164483,3.173573,2.520622,6.201527
8,2011-08-06,0,0.0,4.624740,0.0,12,-122.16,37.445,0,6,...,1,0,0,0,0,3.148942,3.556425,3.164483,3.173573,2.520622
9,2011-08-07,0,0.0,3.349290,0.0,4,-122.16,37.445,0,2,...,1,0,0,0,0,4.624740,3.148942,3.556425,3.164483,3.173573

In [145]:
df.shape

(7680, 83)

In [147]:
df.tail()

,Start Date,Label,Charging Time (mins),Energy (kWh),Total Duration (mins),Port Number,CenterLon,CenterLat,Level 1,Level 2,...,Year_Month_8,Year_Month_9,Year_Month_10,Year_Month_11,Year_Month_12,Energy (kWh)_lag1,Energy (kWh)_lag2,Energy (kWh)_lag3,Energy (kWh)_lag4,Energy (kWh)_lag5
14394,2019-12-27,5,0.0,8.752353,0.0,17,-122.158,37.448,0,11,...,0,0,0,0,1,6.376214,4.990875,4.025105,5.482148,6.458643
14395,2019-12-28,5,0.0,5.035467,0.0,15,-122.158,37.448,0,10,...,0,0,0,0,1,8.752353,6.376214,4.990875,4.025105,5.482148
14396,2019-12-29,5,0.0,8.451375,0.0,8,-122.158,37.448,0,4,...,0,0,0,0,1,5.035467,8.752353,6.376214,4.990875,4.025105
14397,2019-12-30,5,0.0,5.672222,0.0,18,-122.158,37.448,0,12,...,0,0,0,0,1,8.451375,5.035467,8.752353,6.376214,4.990875
14398,2019-12-31,5,0.0,10.037769,0.0,13,-122.158,37.448,0,9,...,0,0,0,0,1,5.672222,8.451375,5.035467,8.752353,6.376214

In [148]:
7680/365

21.041095890410958

In [161]:
us_ca_holidays = holidays.CountryHoliday('US', state='CA')

AttributeError: 'list' object has no attribute 'CountryHoliday'

In [152]:
df['is_holiday'] = [1 if str(val).split()[0] in us_ca_holidays else 0 for val in df['Start Date']]

In [153]:
df.head()

,Start Date,Label,Charging Time (mins),Energy (kWh),Total Duration (mins),Port Number,CenterLon,CenterLat,Level 1,Level 2,...,Year_Month_9,Year_Month_10,Year_Month_11,Year_Month_12,Energy (kWh)_lag1,Energy (kWh)_lag2,Energy (kWh)_lag3,Energy (kWh)_lag4,Energy (kWh)_lag5,is_holiday
5,2011-08-03,0,0.0,3.164483,0.0,10,-122.16,37.445,0,5,...,0,0,0,0,3.173573,2.520622,6.201527,3.008648,3.124728,0
6,2011-08-04,0,0.0,3.556425,0.0,4,-122.16,37.445,0,2,...,0,0,0,0,3.164483,3.173573,2.520622,6.201527,3.008648,0
7,2011-08-05,0,0.0,3.148942,0.0,10,-122.16,37.445,0,5,...,0,0,0,0,3.556425,3.164483,3.173573,2.520622,6.201527,0
8,2011-08-06,0,0.0,4.624740,0.0,12,-122.16,37.445,0,6,...,0,0,0,0,3.148942,3.556425,3.164483,3.173573,2.520622,0
9,2011-08-07,0,0.0,3.349290,0.0,4,-122.16,37.445,0,2,...,0,0,0,0,4.624740,3.148942,3.556425,3.164483,3.173573,0

In [154]:
df[df['is_holiday'] == 1]

,Start Date,Label,Charging Time (mins),Energy (kWh),Total Duration (mins),Port Number,CenterLon,CenterLat,Level 1,Level 2,...,Year_Month_9,Year_Month_10,Year_Month_11,Year_Month_12,Energy (kWh)_lag1,Energy (kWh)_lag2,Energy (kWh)_lag3,Energy (kWh)_lag4,Energy (kWh)_lag5,is_holiday
38,2011-09-05,0,0.0,1.436410,0.0,6,-122.160,37.445,0,3,...,1,0,0,0,5.437493,4.538564,4.372996,2.560355,2.547028,1
72,2011-10-10,0,0.0,3.202961,0.0,10,-122.160,37.445,0,5,...,0,1,0,0,3.185690,3.224382,4.218481,3.949771,3.966154,1
104,2011-11-11,0,0.0,4.194992,0.0,14,-122.160,37.445,0,7,...,0,0,1,0,2.382030,3.441298,3.610704,2.666719,2.933945,1
117,2011-11-24,0,0.0,2.704054,0.0,4,-122.160,37.445,0,2,...,0,0,1,0,4.561006,5.134276,5.341648,3.367309,3.650197,1
118,2011-11-25,0,0.0,5.796838,0.0,6,-122.160,37.445,0,3,...,0,0,1,0,2.704054,4.561006,5.134276,5.341648,3.367309,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14320,2019-10-14,5,0.0,6.992045,0.0,22,-122.158,37.448,0,13,...,0,1,0,0,9.061353,6.155750,5.760552,8.446581,10.316158,1
14348,2019-11-11,5,0.0,9.402455,0.0,22,-122.158,37.448,0,15,...,0,0,1,0,8.336000,5.115588,8.553111,8.840355,7.260613,1
14365,2019-11-28,5,0.0,4.646278,0.0,18,-122.158,37.448,0,10,...,0,0,1,0,9.381440,7.626391,7.877710,4.521000,7.574045,1
14366,2019-11-29,5,0.0,10.014111,0.0,9,-122.158,37.448,0,6,...,0,0,1,0,4.646278,9.381440,7.626391,7.877710,4.521000,1
14392,2019-12-25,5,0.0,4.990875,0.0,8,-122.158,37.448,0,5,...,0,0,0,1,4.025105,5.482148,6.458643,5.731278,7.189714,1

In [155]:
dates = []
holidays = []
for date in df[df['is_holiday'] == 1]['Start Date']: 
    datestr = str(date).split()[0]
    dates.append(datestr)
    
for date in dates: 
    holiday = us_ca_holidays.get(date)
    holidays.append(holiday)

control = dict(zip(dates, holidays))

In [156]:
control

{'2011-09-05': 'Labor Day',
 '2011-10-10': 'Columbus Day',
 '2011-11-11': 'Veterans Day',
 '2011-11-24': 'Thanksgiving',
 '2011-11-25': 'Day After Thanksgiving',
 '2011-12-25': 'Christmas Day',
 '2011-12-26': 'Christmas Day (Observed)',
 '2012-01-01': "New Year's Day",
 '2012-01-02': "New Year's Day (Observed)",
 '2012-01-16': 'Martin Luther King Jr. Day',
 '2012-02-20': "Washington's Birthday",
 '2012-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2012-05-28': 'Memorial Day',
 '2012-07-04': 'Independence Day',
 '2012-09-03': 'Labor Day',
 '2012-10-08': 'Columbus Day',
 '2012-11-11': 'Veterans Day',
 '2012-11-12': 'Veterans Day (Observed)',
 '2012-11-22': 'Thanksgiving',
 '2012-11-23': 'Day After Thanksgiving',
 '2012-12-25': 'Christmas Day',
 '2013-01-01': "New Year's Day",
 '2013-01-21': 'Martin Luther King Jr. Day',
 '2013-02-18': "Washington's Birthday",
 '2013-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2013-04-01': 'CÃ©sar ChÃ¡vez Day (Observed)',
 '2013-05-27': 'Memorial Day',
 '2013-07-04': 'Independence Day',
 '2013-09-02': 'Labor Day',
 '2013-10-14': 'Columbus Day',
 '2013-11-11': 'Veterans Day',
 '2013-11-28': 'Thanksgiving',
 '2013-11-29': 'Day After Thanksgiving',
 '2013-12-25': 'Christmas Day',
 '2014-01-01': "New Year's Day",
 '2014-01-20': 'Martin Luther King Jr. Day',
 '2014-02-15': 'Susan B. Anthony Day',
 '2014-02-17': "Washington's Birthday",
 '2014-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2014-05-26': 'Memorial Day',
 '2014-07-04': 'Independence Day',
 '2014-09-01': 'Labor Day',
 '2014-10-13': 'Columbus Day',
 '2014-11-11': 'Veterans Day',
 '2014-11-27': 'Thanksgiving',
 '2014-11-28': 'Day After Thanksgiving',
 '2014-12-25': 'Christmas Day',
 '2015-01-01': "New Year's Day",
 '2015-01-19': 'Martin Luther King Jr. Day',
 '2015-02-15': 'Susan B. Anthony Day',
 '2015-02-16': "Washington's Birthday",
 '2015-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2015-05-25': 'Memorial Day',
 '2015-07-03': 'Independence Day (Observed)',
 '2015-07-04': 'Independence Day',
 '2015-09-07': 'Labor Day',
 '2015-10-12': 'Columbus Day',
 '2015-11-11': 'Veterans Day',
 '2015-11-26': 'Thanksgiving',
 '2015-11-27': 'Day After Thanksgiving',
 '2015-12-25': 'Christmas Day',
 '2016-01-01': "New Year's Day",
 '2016-01-18': 'Martin Luther King Jr. Day',
 '2016-02-15': "Washington's Birthday, Susan B. Anthony Day",
 '2016-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2016-05-30': 'Memorial Day',
 '2016-07-04': 'Independence Day',
 '2016-09-05': 'Labor Day',
 '2016-10-10': 'Columbus Day',
 '2016-11-11': 'Veterans Day',
 '2016-11-24': 'Thanksgiving',
 '2016-11-25': 'Day After Thanksgiving',
 '2016-12-25': 'Christmas Day',
 '2016-12-26': 'Christmas Day (Observed)',
 '2017-01-01': "New Year's Day",
 '2017-01-02': "New Year's Day (Observed)",
 '2017-01-16': 'Martin Luther King Jr. Day',
 '2017-02-15': 'Susan B. Anthony Day',
 '2017-02-20': "Washington's Birthday",
 '2017-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2017-05-29': 'Memorial Day',
 '2017-07-04': 'Independence Day',
 '2017-09-04': 'Labor Day',
 '2017-10-09': 'Columbus Day',
 '2017-11-10': 'Veterans Day (Observed)',
 '2017-11-11': 'Veterans Day',
 '2017-11-23': 'Thanksgiving',
 '2017-11-24': 'Day After Thanksgiving',
 '2017-12-25': 'Christmas Day',
 '2018-01-01': "New Year's Day",
 '2018-01-15': 'Martin Luther King Jr. Day',
 '2018-02-15': 'Susan B. Anthony Day',
 '2018-02-19': "Washington's Birthday",
 '2018-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2018-05-28': 'Memorial Day',
 '2018-07-04': 'Independence Day',
 '2018-09-03': 'Labor Day',
 '2018-10-08': 'Columbus Day',
 '2018-11-11': 'Veterans Day',
 '2018-11-12': 'Veterans Day (Observed)',
 '2018-11-22': 'Thanksgiving',
 '2018-11-23': 'Day After Thanksgiving',
 '2018-12-25': 'Christmas Day',
 '2019-01-01': "New Year's Day",
 '2019-01-21': 'Martin Luther King Jr. Day',
 '2019-02-15': 'Susan B. Anthony Day',
 '2019-02-18': "Washington's Birthday",
 '2019-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2019-04-01': 'CÃ©sar ChÃ¡vez Day (Observed)',
 '2019-05-27': 'Memorial Day',
 '2019-07-04': 'Independence Day',
 '2019-09-02': 'Labor Day',
 '2019-10-14': 'Columbus Day',
 '2019-11-11': 'Veterans Day',
 '2019-11-28': 'Thanksgiving',
 '2019-11-29': 'Day After Thanksgiving',
 '2019-12-25': 'Christmas Day'}

## Rewriting it to a function

In [166]:
def is_holiday(df): 
    us_ca_holidays = holidays.CountryHoliday('US', state='CA')
    df['is_holiday'] = [1 if str(val).split()[0] in us_ca_holidays else 0 for val in df['Start Date']]
    return df

In [174]:
def is_holiday_control(df):
    us_ca_holidays = holidays.CountryHoliday('US', state='CA')
    dates = []
    holis = []
    for date in df[df['is_holiday'] == 1]['Start Date']: 
        datestr = str(date).split()[0]
        dates.append(datestr)

    for date in dates: 
        holi = us_ca_holidays.get(date)
        holis.append(holi)

    control = dict(zip(dates, holis))
    
    return control

In [167]:
is_holiday(df)

,Start Date,Label,Charging Time (mins),Energy (kWh),Total Duration (mins),Port Number,CenterLon,CenterLat,Level 1,Level 2,...,Year_Month_9,Year_Month_10,Year_Month_11,Year_Month_12,Energy (kWh)_lag1,Energy (kWh)_lag2,Energy (kWh)_lag3,Energy (kWh)_lag4,Energy (kWh)_lag5,is_holiday
5,2011-08-03,0,0.0,3.164483,0.0,10,-122.160,37.445,0,5,...,0,0,0,0,3.173573,2.520622,6.201527,3.008648,3.124728,0
6,2011-08-04,0,0.0,3.556425,0.0,4,-122.160,37.445,0,2,...,0,0,0,0,3.164483,3.173573,2.520622,6.201527,3.008648,0
7,2011-08-05,0,0.0,3.148942,0.0,10,-122.160,37.445,0,5,...,0,0,0,0,3.556425,3.164483,3.173573,2.520622,6.201527,0
8,2011-08-06,0,0.0,4.624740,0.0,12,-122.160,37.445,0,6,...,0,0,0,0,3.148942,3.556425,3.164483,3.173573,2.520622,0
9,2011-08-07,0,0.0,3.349290,0.0,4,-122.160,37.445,0,2,...,0,0,0,0,4.624740,3.148942,3.556425,3.164483,3.173573,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14394,2019-12-27,5,0.0,8.752353,0.0,17,-122.158,37.448,0,11,...,0,0,0,1,6.376214,4.990875,4.025105,5.482148,6.458643,0
14395,2019-12-28,5,0.0,5.035467,0.0,15,-122.158,37.448,0,10,...,0,0,0,1,8.752353,6.376214,4.990875,4.025105,5.482148,0
14396,2019-12-29,5,0.0,8.451375,0.0,8,-122.158,37.448,0,4,...,0,0,0,1,5.035467,8.752353,6.376214,4.990875,4.025105,0
14397,2019-12-30,5,0.0,5.672222,0.0,18,-122.158,37.448,0,12,...,0,0,0,1,8.451375,5.035467,8.752353,6.376214,4.990875,0
14398,2019-12-31,5,0.0,10.037769,0.0,13,-122.158,37.448,0,9,...,0,0,0,1,5.672222,8.451375,5.035467,8.752353,6.376214,0

In [175]:
is_holiday_control(df)

{'2011-09-05': 'Labor Day',
 '2011-10-10': 'Columbus Day',
 '2011-11-11': 'Veterans Day',
 '2011-11-24': 'Thanksgiving',
 '2011-11-25': 'Day After Thanksgiving',
 '2011-12-25': 'Christmas Day',
 '2011-12-26': 'Christmas Day (Observed)',
 '2012-01-01': "New Year's Day",
 '2012-01-02': "New Year's Day (Observed)",
 '2012-01-16': 'Martin Luther King Jr. Day',
 '2012-02-20': "Washington's Birthday",
 '2012-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2012-05-28': 'Memorial Day',
 '2012-07-04': 'Independence Day',
 '2012-09-03': 'Labor Day',
 '2012-10-08': 'Columbus Day',
 '2012-11-11': 'Veterans Day',
 '2012-11-12': 'Veterans Day (Observed)',
 '2012-11-22': 'Thanksgiving',
 '2012-11-23': 'Day After Thanksgiving',
 '2012-12-25': 'Christmas Day',
 '2013-01-01': "New Year's Day",
 '2013-01-21': 'Martin Luther King Jr. Day',
 '2013-02-18': "Washington's Birthday",
 '2013-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2013-04-01': 'CÃ©sar ChÃ¡vez Day (Observed)',
 '2013-05-27': 'Memorial Day',
 '2013-07-04': 'Independence Day',
 '2013-09-02': 'Labor Day',
 '2013-10-14': 'Columbus Day',
 '2013-11-11': 'Veterans Day',
 '2013-11-28': 'Thanksgiving',
 '2013-11-29': 'Day After Thanksgiving',
 '2013-12-25': 'Christmas Day',
 '2014-01-01': "New Year's Day",
 '2014-01-20': 'Martin Luther King Jr. Day',
 '2014-02-15': 'Susan B. Anthony Day',
 '2014-02-17': "Washington's Birthday",
 '2014-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2014-05-26': 'Memorial Day',
 '2014-07-04': 'Independence Day',
 '2014-09-01': 'Labor Day',
 '2014-10-13': 'Columbus Day',
 '2014-11-11': 'Veterans Day',
 '2014-11-27': 'Thanksgiving',
 '2014-11-28': 'Day After Thanksgiving',
 '2014-12-25': 'Christmas Day',
 '2015-01-01': "New Year's Day",
 '2015-01-19': 'Martin Luther King Jr. Day',
 '2015-02-15': 'Susan B. Anthony Day',
 '2015-02-16': "Washington's Birthday",
 '2015-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2015-05-25': 'Memorial Day',
 '2015-07-03': 'Independence Day (Observed)',
 '2015-07-04': 'Independence Day',
 '2015-09-07': 'Labor Day',
 '2015-10-12': 'Columbus Day',
 '2015-11-11': 'Veterans Day',
 '2015-11-26': 'Thanksgiving',
 '2015-11-27': 'Day After Thanksgiving',
 '2015-12-25': 'Christmas Day',
 '2016-01-01': "New Year's Day",
 '2016-01-18': 'Martin Luther King Jr. Day',
 '2016-02-15': "Washington's Birthday, Susan B. Anthony Day",
 '2016-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2016-05-30': 'Memorial Day',
 '2016-07-04': 'Independence Day',
 '2016-09-05': 'Labor Day',
 '2016-10-10': 'Columbus Day',
 '2016-11-11': 'Veterans Day',
 '2016-11-24': 'Thanksgiving',
 '2016-11-25': 'Day After Thanksgiving',
 '2016-12-25': 'Christmas Day',
 '2016-12-26': 'Christmas Day (Observed)',
 '2017-01-01': "New Year's Day",
 '2017-01-02': "New Year's Day (Observed)",
 '2017-01-16': 'Martin Luther King Jr. Day',
 '2017-02-15': 'Susan B. Anthony Day',
 '2017-02-20': "Washington's Birthday",
 '2017-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2017-05-29': 'Memorial Day',
 '2017-07-04': 'Independence Day',
 '2017-09-04': 'Labor Day',
 '2017-10-09': 'Columbus Day',
 '2017-11-10': 'Veterans Day (Observed)',
 '2017-11-11': 'Veterans Day',
 '2017-11-23': 'Thanksgiving',
 '2017-11-24': 'Day After Thanksgiving',
 '2017-12-25': 'Christmas Day',
 '2018-01-01': "New Year's Day",
 '2018-01-15': 'Martin Luther King Jr. Day',
 '2018-02-15': 'Susan B. Anthony Day',
 '2018-02-19': "Washington's Birthday",
 '2018-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2018-05-28': 'Memorial Day',
 '2018-07-04': 'Independence Day',
 '2018-09-03': 'Labor Day',
 '2018-10-08': 'Columbus Day',
 '2018-11-11': 'Veterans Day',
 '2018-11-12': 'Veterans Day (Observed)',
 '2018-11-22': 'Thanksgiving',
 '2018-11-23': 'Day After Thanksgiving',
 '2018-12-25': 'Christmas Day',
 '2019-01-01': "New Year's Day",
 '2019-01-21': 'Martin Luther King Jr. Day',
 '2019-02-15': 'Susan B. Anthony Day',
 '2019-02-18': "Washington's Birthday",
 '2019-03-31': 'CÃ©sar ChÃ¡vez Day',
 '2019-04-01': 'CÃ©sar ChÃ¡vez Day (Observed)',
 '2019-05-27': 'Memorial Day',
 '2019-07-04': 'Independence Day',
 '2019-09-02': 'Labor Day',
 '2019-10-14': 'Columbus Day',
 '2019-11-11': 'Veterans Day',
 '2019-11-28': 'Thanksgiving',
 '2019-11-29': 'Day After Thanksgiving',
 '2019-12-25': 'Christmas Day'}

## Countdown to holiday

Strategy: Each date gets a countdown to the next holiday.

In [181]:
df[df['is_holiday'] == 1]['Start Date']

38      2011-09-05
72      2011-10-10
104     2011-11-11
117     2011-11-24
118     2011-11-25
           ...
14320   2019-10-14
14348   2019-11-11
14365   2019-11-28
14366   2019-11-29
14392   2019-12-25
Name: Start Date, Length: 291, dtype: datetime64[ns]

In [179]:
df[df['is_holiday'] == 1]['Start Date'].unique()

array(['2011-09-05T00:00:00.000000000', '2011-10-10T00:00:00.000000000',
       '2011-11-11T00:00:00.000000000', '2011-11-24T00:00:00.000000000',
       '2011-11-25T00:00:00.000000000', '2011-12-25T00:00:00.000000000',
       '2011-12-26T00:00:00.000000000', '2012-01-01T00:00:00.000000000',
       '2012-01-02T00:00:00.000000000', '2012-01-16T00:00:00.000000000',
       '2012-02-20T00:00:00.000000000', '2012-03-31T00:00:00.000000000',
       '2012-05-28T00:00:00.000000000', '2012-07-04T00:00:00.000000000',
       '2012-09-03T00:00:00.000000000', '2012-10-08T00:00:00.000000000',
       '2012-11-11T00:00:00.000000000', '2012-11-12T00:00:00.000000000',
       '2012-11-22T00:00:00.000000000', '2012-11-23T00:00:00.000000000',
       '2012-12-25T00:00:00.000000000', '2013-01-01T00:00:00.000000000',
       '2013-01-21T00:00:00.000000000', '2013-02-18T00:00:00.000000000',
       '2013-03-31T00:00:00.000000000', '2013-04-01T00:00:00.000000000',
       '2013-05-27T00:00:00.000000000', '2013-07-04T00:00:00.000000000',
       '2013-09-02T00:00:00.000000000', '2013-10-14T00:00:00.000000000',
       '2013-11-11T00:00:00.000000000', '2013-11-28T00:00:00.000000000',
       '2013-11-29T00:00:00.000000000', '2013-12-25T00:00:00.000000000',
       '2014-01-01T00:00:00.000000000', '2014-01-20T00:00:00.000000000',
       '2014-02-15T00:00:00.000000000', '2014-02-17T00:00:00.000000000',
       '2014-03-31T00:00:00.000000000', '2014-05-26T00:00:00.000000000',
       '2014-07-04T00:00:00.000000000', '2014-09-01T00:00:00.000000000',
       '2014-10-13T00:00:00.000000000', '2014-11-11T00:00:00.000000000',
       '2014-11-27T00:00:00.000000000', '2014-11-28T00:00:00.000000000',
       '2014-12-25T00:00:00.000000000', '2015-01-01T00:00:00.000000000',
       '2015-01-19T00:00:00.000000000', '2015-02-15T00:00:00.000000000',
       '2015-02-16T00:00:00.000000000', '2015-03-31T00:00:00.000000000',
       '2015-05-25T00:00:00.000000000', '2015-07-03T00:00:00.000000000',
       '2015-07-04T00:00:00.000000000', '2015-09-07T00:00:00.000000000',
       '2015-10-12T00:00:00.000000000', '2015-11-11T00:00:00.000000000',
       '2015-11-26T00:00:00.000000000', '2015-11-27T00:00:00.000000000',
       '2015-12-25T00:00:00.000000000', '2016-01-01T00:00:00.000000000',
       '2016-01-18T00:00:00.000000000', '2016-02-15T00:00:00.000000000',
       '2016-03-31T00:00:00.000000000', '2016-05-30T00:00:00.000000000',
       '2016-07-04T00:00:00.000000000', '2016-09-05T00:00:00.000000000',
       '2016-10-10T00:00:00.000000000', '2016-11-11T00:00:00.000000000',
       '2016-11-24T00:00:00.000000000', '2016-11-25T00:00:00.000000000',
       '2016-12-25T00:00:00.000000000', '2016-12-26T00:00:00.000000000',
       '2017-01-01T00:00:00.000000000', '2017-01-02T00:00:00.000000000',
       '2017-01-16T00:00:00.000000000', '2017-02-15T00:00:00.000000000',
       '2017-02-20T00:00:00.000000000', '2017-03-31T00:00:00.000000000',
       '2017-05-29T00:00:00.000000000', '2017-07-04T00:00:00.000000000',
       '2017-09-04T00:00:00.000000000', '2017-10-09T00:00:00.000000000',
       '2017-11-10T00:00:00.000000000', '2017-11-11T00:00:00.000000000',
       '2017-11-23T00:00:00.000000000', '2017-11-24T00:00:00.000000000',
       '2017-12-25T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2018-01-15T00:00:00.000000000', '2018-02-15T00:00:00.000000000',
       '2018-02-19T00:00:00.000000000', '2018-03-31T00:00:00.000000000',
       '2018-05-28T00:00:00.000000000', '2018-07-04T00:00:00.000000000',
       '2018-09-03T00:00:00.000000000', '2018-10-08T00:00:00.000000000',
       '2018-11-11T00:00:00.000000000', '2018-11-12T00:00:00.000000000',
       '2018-11-22T00:00:00.000000000', '2018-11-23T00:00:00.000000000',
       '2018-12-25T00:00:00.000000000', '2019-01-01T00:00:00.000000000',
       '2019-01-21T00:00:00.000000000', '2019-02-15T00:00:00.000000000',
       '2019-02-18T00:00:00.000000000', '2019-03-31T00:00:00.000000000',
       '2019-04-01T00:00:00.000000000', '2019-05-27T00:00:00.000000000',
       '2019-07-04T00:00:00.000000000', '2019-09-02T00:00:00.000000000',
       '2019-10-14T00:00:00.000000000', '2019-11-11T00:00:00.000000000',
       '2019-11-28T00:00:00.000000000', '2019-11-29T00:00:00.000000000',
       '2019-12-25T00:00:00.000000000'], dtype='datetime64[ns]')

In [132]:
holdates[1]

datetime.date(2014, 1, 20)

In [140]:
df[df['is_holiday'] == 1]['Start Date'].iloc[1] - holdates[1]

TypeError: unsupported operand type(s) for -: 'Timestamp' and 'datetime.date'