In [172]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy
import math
import plotly.express as px

import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

import datetime as dt
import time
import matplotlib.pyplot as plt

In [173]:
#pd.read_csv('POI_Palo_alto.csv')
df = pd.read_csv('CenteredData.csv')
df.head()

,Unnamed: 0,Station Name,MAC Address,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID,ID,Pairlocation,Label,CenterLon,CenterLat
0,0,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-29 20:17:00,PDT,2011-07-29 23:20:00,PDT,1900-01-01 03:03:32,1900-01-01 01:54:03,...,0.0,Plug Out at Vehicle,3,95124.0,3284.0,0,37.445x-122.16,1,-122.16,37.444473
1,1,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 00:00:00,PDT,2011-07-30 00:02:00,PDT,1900-01-01 00:02:06,1900-01-01 00:01:54,...,0.0,Customer,4,94301.0,4169.0,0,37.445x-122.16,1,-122.16,37.444473
2,2,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 08:16:00,PDT,2011-07-30 12:34:00,PDT,1900-01-01 04:17:32,1900-01-01 04:17:28,...,0.0,Plug Out at Vehicle,5,94301.0,4169.0,0,37.445x-122.16,1,-122.16,37.444473
3,3,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 14:51:00,PDT,2011-07-30 16:55:00,PDT,1900-01-01 02:03:24,1900-01-01 02:02:58,...,0.0,Customer,6,94302.0,2545.0,0,37.445x-122.16,1,-122.16,37.444473
4,4,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 18:51:00,PDT,2011-07-30 20:03:00,PDT,1900-01-01 01:11:24,1900-01-01 00:43:54,...,0.0,Plug Out at Vehicle,7,94043.0,3765.0,0,37.445x-122.16,1,-122.16,37.444473

In [187]:
df_unique_label = df.groupby('Label', group_keys=False).apply(lambda df: df.sample(1))
df_unique_label = df_unique_label[['Label','CenterLat', 'CenterLon']]
df_unique_label = df_unique_label.set_index('Label')
df_unique_label

       CenterLat   CenterLon
Label
0      37.426045 -122.146000
1      37.444473 -122.160000
2      37.422000 -122.113219
3      37.445000 -122.139000
4      37.448135 -122.158000
5      37.443405 -122.163000
6      37.446996 -122.162000
7      37.428413 -122.143998

In [180]:
df_poi = pd.read_csv('C:\\Users\\User\\OneDrive - Danmarks Tekniske Universitet\\SAS_030919\\6. Semester\\BSc\\Bachelor2021\\data\\createdDat\\points_of_int.csv')
df_poi.head(5)

,Unnamed: 0,Name,Latitude,Longitude,Category,Sub Category
0,0,Zydeco Party,37.452546,-122.112660,Arts & Entertainment,Music Venue
1,1,Delta Chi Alumni,37.450602,-122.114825,College & University,Fraternity House
2,2,Phi Beta Pi Alumni,37.452672,-122.113965,College & University,Fraternity House
3,3,Delta Delta Delta Alumni,37.450842,-122.114379,College & University,Fraternity House
4,4,Mama's Taco Wagon,37.450386,-122.116925,Food,Food Truck

In [188]:
df_unique_label.at[0,'CenterLat']

37.42604539128234

In [190]:
for i in range(0,8): 
    df_poi['Label' + str(i) + '_Lat'] = df_unique_label.at[i,'CenterLat']
    df_poi['Label' + str(i) + '_Lon'] = df_unique_label.at[i,'CenterLon']

In [191]:
df_poi.head()

,Unnamed: 0,Name,Latitude,Longitude,Category,Sub Category,Label0_Lat,Label0_Lon,Label1_Lat,Label1_Lon,...,Label3_Lat,Label3_Lon,Label4_Lat,Label4_Lon,Label5_Lat,Label5_Lon,Label6_Lat,Label6_Lon,Label7_Lat,Label7_Lon
0,0,Zydeco Party,37.452546,-122.112660,Arts & Entertainment,Music Venue,37.426045,-122.146,37.444473,-122.16,...,37.445,-122.139,37.448135,-122.158,37.443405,-122.163,37.446996,-122.162,37.428413,-122.143998
1,1,Delta Chi Alumni,37.450602,-122.114825,College & University,Fraternity House,37.426045,-122.146,37.444473,-122.16,...,37.445,-122.139,37.448135,-122.158,37.443405,-122.163,37.446996,-122.162,37.428413,-122.143998
2,2,Phi Beta Pi Alumni,37.452672,-122.113965,College & University,Fraternity House,37.426045,-122.146,37.444473,-122.16,...,37.445,-122.139,37.448135,-122.158,37.443405,-122.163,37.446996,-122.162,37.428413,-122.143998
3,3,Delta Delta Delta Alumni,37.450842,-122.114379,College & University,Fraternity House,37.426045,-122.146,37.444473,-122.16,...,37.445,-122.139,37.448135,-122.158,37.443405,-122.163,37.446996,-122.162,37.428413,-122.143998
4,4,Mama's Taco Wagon,37.450386,-122.116925,Food,Food Truck,37.426045,-122.146,37.444473,-122.16,...,37.445,-122.139,37.448135,-122.158,37.443405,-122.163,37.446996,-122.162,37.428413,-122.143998

In [21]:
#pip install geopy

In [193]:
from geopy import distance

In [194]:
def distance_calc (row, label): #inspired by https://stackoverflow.com/questions/44446862/calculate-distance-between-latitude-and-longitude-in-dataframe
    POIlocation = (row['Latitude'], row['Longitude'])
    LabelX = (row['Label'+ str(label) +'_Lat'], row['Label'+ str(label) +'_Lon'])
    
    return distance.distance(POIlocation, LabelX).meters

In [195]:
import time

In [196]:
start = time.time()
for j in range(0,8): 
     df_poi[str(j) + '_Distance'] = df_poi.apply (lambda row: distance_calc (row, j),axis=1)
end = time.time()
print(f"Runtime: {end - start}")

Runtime: 48.887781858444214

In [243]:
df_poi[df_poi[('0' + '_Distance')] < 500]

,Unnamed: 0,Name,Latitude,Longitude,Category,Sub Category,Label0_Lat,Label0_Lon,Label1_Lat,Label1_Lon,...,Label7_Lat,Label7_Lon,0_Distance,1_Distance,2_Distance,3_Distance,4_Distance,5_Distance,6_Distance,7_Distance
5026,5026,Caltrain #156,37.428920,-122.141814,Travel & Transport,Train,37.426045,-122.146,37.444473,-122.16,...,37.428413,-122.143998,488.969317,2360.052318,2644.966647,1801.911892,2568.960321,2469.839483,2686.294904,201.344392
5027,5027,Nikola Tesla Statue,37.426142,-122.141251,Arts & Entertainment,Outdoor Sculpture,37.426045,-122.146,37.444473,-122.16,...,37.428413,-122.143998,420.500497,2625.312082,2523.437208,2102.395454,2855.681939,2715.874824,2954.481782,350.223298
5028,5028,Gallery House,37.427380,-122.144392,Arts & Entertainment,Art Gallery,37.426045,-122.146,37.444473,-122.16,...,37.428413,-122.143998,205.419614,2346.672046,2823.092581,2012.950850,2599.293299,2423.938579,2677.354890,119.865158
5029,5029,Jungle Jane Sculpture,37.427472,-122.143835,Arts & Entertainment,Outdoor Sculpture,37.426045,-122.146,37.444473,-122.16,...,37.428413,-122.143998,248.577213,2367.877885,2777.138565,1991.864245,2613.531326,2450.316422,2698.134581,105.463221
5030,5030,Bruno's Top Drawer,37.428996,-122.144262,Arts & Entertainment,Casino,37.426045,-122.146,37.444473,-122.16,...,37.428413,-122.143998,361.806997,2211.431194,2855.288692,1836.249334,2447.454504,2303.827381,2540.743978,68.761215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8359,8359,RR Donnelley,37.422564,-122.147559,Professional & Other Places,Office,37.426045,-122.146,37.444473,-122.16,...,37.428413,-122.143998,410.286835,2669.243201,3040.290744,2602.747093,2984.629536,2686.639632,2997.743374,721.658236
8371,8371,Stanford Genome Technology Center,37.422033,-122.147026,Professional & Other Places,School,37.426045,-122.146,37.444473,-122.16,...,37.428413,-122.143998,454.483709,2742.452928,2992.479531,2646.134024,3055.388540,2761.397353,3071.215637,757.144536
8374,8374,Schering Plough Biopharma,37.422113,-122.147303,Professional & Other Places,Building,37.426045,-122.146,37.444473,-122.16,...,37.428413,-122.143998,451.420823,2724.170089,3017.048291,2644.290149,3039.230463,2741.248025,3052.663658,757.971679
8379,8379,Mehtafilms,37.423309,-122.147746,Professional & Other Places,Tech Startup,37.426045,-122.146,37.444473,-122.16,...,37.428413,-122.143998,340.727149,2587.145570,3059.615909,2528.739827,2900.879377,2607.164465,2915.945999,656.455587
8435,8435,Open Net Review,37.421810,-122.146962,Shop & Service,Child Care Service,37.426045,-122.146,37.444473,-122.16,...,37.428413,-122.143998,477.690697,2767.297173,2986.863357,2668.453663,3080.644015,2785.564096,3095.984226,778.383286

In [266]:
empt = pd.DataFrame()
for k in range(0,8):
    m = 500 
    LabelY = pd.DataFrame(df_poi[df_poi[(str(k) + '_Distance')] < m]['Category'].value_counts())
    LabelY = LabelY.rename(columns={"Category": k})
    LabelY = LabelY.T
    empt = empt.append(LabelY)
empt = empt.reset_index()
empt = empt.rename(columns={"index": "Label"})

In [288]:
empt

,Label,Shop & Service,Professional & Other Places,Food,Outdoors & Recreation,Travel & Transport,Arts & Entertainment,Nightlife Spot,Residence,College & University,Event
0,0,269,259,207,85,68,60,48.0,24.0,13.0,NaN
1,1,230,289,267,172,210,134,124.0,62.0,26.0,3.0
2,2,16,66,12,35,15,7,NaN,3.0,NaN,NaN
3,3,33,39,2,31,9,18,NaN,NaN,5.0,NaN
4,4,182,253,180,89,67,87,85.0,72.0,17.0,3.0
5,5,155,268,215,141,199,100,114.0,27.0,19.0,3.0
6,6,232,278,257,153,189,139,137.0,88.0,23.0,3.0
7,7,259,237,195,76,83,50,57.0,14.0,13.0,NaN

In [289]:
lista = list(empt.columns[1:])

In [292]:
new_list = ['# ' + x for x in lista]

In [294]:
new_list

['# Shop & Service',
 '# Professional & Other Places',
 '# Food',
 '# Outdoors & Recreation',
 '# Travel & Transport',
 '# Arts & Entertainment',
 '# Nightlife Spot',
 '# Residence',
 '# College & University',
 '# Event']

In [296]:
dict(zip(lista, new_list))

{'Shop & Service': '# Shop & Service',
 'Professional & Other Places': '# Professional & Other Places',
 'Food': '# Food',
 'Outdoors & Recreation': '# Outdoors & Recreation',
 'Travel & Transport': '# Travel & Transport',
 'Arts & Entertainment': '# Arts & Entertainment',
 'Nightlife Spot': '# Nightlife Spot',
 'Residence': '# Residence',
 'College & University': '# College & University',
 'Event': '# Event'}

In [297]:
empt.rename(columns = dict(zip(lista, new_list)))

,Label,# Shop & Service,# Professional & Other Places,# Food,# Outdoors & Recreation,# Travel & Transport,# Arts & Entertainment,# Nightlife Spot,# Residence,# College & University,# Event
0,0,269,259,207,85,68,60,48.0,24.0,13.0,NaN
1,1,230,289,267,172,210,134,124.0,62.0,26.0,3.0
2,2,16,66,12,35,15,7,NaN,3.0,NaN,NaN
3,3,33,39,2,31,9,18,NaN,NaN,5.0,NaN
4,4,182,253,180,89,67,87,85.0,72.0,17.0,3.0
5,5,155,268,215,141,199,100,114.0,27.0,19.0,3.0
6,6,232,278,257,153,189,139,137.0,88.0,23.0,3.0
7,7,259,237,195,76,83,50,57.0,14.0,13.0,NaN

In [263]:
df

,Unnamed: 0,Station Name,MAC Address,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,Fee,Ended By,Plug In Event Id,Driver Postal Code,User ID,ID,Pairlocation,Label,CenterLon,CenterLat
0,0,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-29 20:17:00,PDT,2011-07-29 23:20:00,PDT,1900-01-01 03:03:32,1900-01-01 01:54:03,...,0.00,Plug Out at Vehicle,3,95124.0,3284.0,0,37.445x-122.16,1,-122.160000,37.444473
1,1,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 00:00:00,PDT,2011-07-30 00:02:00,PDT,1900-01-01 00:02:06,1900-01-01 00:01:54,...,0.00,Customer,4,94301.0,4169.0,0,37.445x-122.16,1,-122.160000,37.444473
2,2,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 08:16:00,PDT,2011-07-30 12:34:00,PDT,1900-01-01 04:17:32,1900-01-01 04:17:28,...,0.00,Plug Out at Vehicle,5,94301.0,4169.0,0,37.445x-122.16,1,-122.160000,37.444473
3,3,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 14:51:00,PDT,2011-07-30 16:55:00,PDT,1900-01-01 02:03:24,1900-01-01 02:02:58,...,0.00,Customer,6,94302.0,2545.0,0,37.445x-122.16,1,-122.160000,37.444473
4,4,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 18:51:00,PDT,2011-07-30 20:03:00,PDT,1900-01-01 01:11:24,1900-01-01 00:43:54,...,0.00,Plug Out at Vehicle,7,94043.0,3765.0,0,37.445x-122.16,1,-122.160000,37.444473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249427,249427,PALO ALTO CA / TED THOMPSON #3,0024B10000029F81,City of Palo Alto,2020-12-31 16:39:00,PST,2020-12-31 17:14:00,PST,1900-01-01 00:35:44,1900-01-01 00:35:18,...,0.42,Plug Out at Vehicle,2369,94301.0,2024201.0,41,37.429x-122.144,7,-122.143998,37.428413
249428,249428,PALO ALTO CA / WEBSTER #1,0024B10000024233,City of Palo Alto,2020-12-31 16:48:00,PST,2020-12-31 20:31:00,PST,1900-01-01 03:43:01,1900-01-01 02:14:04,...,4.69,Plug Out at Vehicle,7255,94541.0,242661.0,34,37.448x-122.158,4,-122.158000,37.448135
249429,249429,PALO ALTO CA / MPL #4,0024B1000003CD37,City of Palo Alto,2020-12-31 17:28:00,PST,2021-01-01 10:56:00,PST,1900-01-01 17:28:14,1900-01-01 05:08:12,...,6.82,Plug Out at Vehicle,455,94306.0,449995.0,53,37.422x-122.114,2,-122.113219,37.422000
249430,249430,PALO ALTO CA / WEBSTER #1,0024B10000024233,City of Palo Alto,2020-12-31 17:49:00,PST,2020-12-31 21:55:00,PST,1900-01-01 04:05:34,1900-01-01 03:53:42,...,2.75,Plug Out at Vehicle,7256,94552.0,804075.0,34,37.448x-122.158,4,-122.158000,37.448135
249431,249431,PALO ALTO CA / CAMBRIDGE #4,0024B10000033A0A,City of Palo Alto,2020-12-31 18:19:00,PST,2020-12-31 19:01:00,PST,1900-01-01 00:42:07,1900-01-01 00:41:44,...,0.36,Plug Out at Vehicle,2302,94305.0,2022651.0,48,37.426x-122.146,0,-122.146000,37.426045

In [271]:
out = df.merge(empt, on = "Label")

In [274]:
out

,Unnamed: 0,Station Name,MAC Address,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,Shop & Service,Professional & Other Places,Food,Outdoors & Recreation,Travel & Transport,Arts & Entertainment,Nightlife Spot,Residence,College & University,Event
0,0,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-29 20:17:00,PDT,2011-07-29 23:20:00,PDT,1900-01-01 03:03:32,1900-01-01 01:54:03,...,230,289,267,172,210,134,124.0,62.0,26.0,3.0
1,1,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 00:00:00,PDT,2011-07-30 00:02:00,PDT,1900-01-01 00:02:06,1900-01-01 00:01:54,...,230,289,267,172,210,134,124.0,62.0,26.0,3.0
2,2,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 08:16:00,PDT,2011-07-30 12:34:00,PDT,1900-01-01 04:17:32,1900-01-01 04:17:28,...,230,289,267,172,210,134,124.0,62.0,26.0,3.0
3,3,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 14:51:00,PDT,2011-07-30 16:55:00,PDT,1900-01-01 02:03:24,1900-01-01 02:02:58,...,230,289,267,172,210,134,124.0,62.0,26.0,3.0
4,4,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 18:51:00,PDT,2011-07-30 20:03:00,PDT,1900-01-01 01:11:24,1900-01-01 00:43:54,...,230,289,267,172,210,134,124.0,62.0,26.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249427,249405,PALO ALTO CA / TED THOMPSON #3,0024B10000029F81,City of Palo Alto,2020-12-30 16:30:00,PST,2020-12-30 16:46:00,PST,1900-01-01 00:15:29,1900-01-01 00:15:07,...,259,237,195,76,83,50,57.0,14.0,13.0,NaN
249428,249413,PALO ALTO CA / TED THOMPSON #4,0024B10000029BE4,City of Palo Alto,2020-12-31 09:47:00,PST,2020-12-31 12:42:00,PST,1900-01-01 02:54:57,1900-01-01 02:38:49,...,259,237,195,76,83,50,57.0,14.0,13.0,NaN
249429,249415,PALO ALTO CA / SHERMAN 6,0024B1000003763E,City of Palo Alto,2020-12-31 11:04:00,PST,2020-12-31 14:49:00,PST,1900-01-01 03:44:23,1900-01-01 03:43:52,...,259,237,195,76,83,50,57.0,14.0,13.0,NaN
249430,249422,PALO ALTO CA / SHERMAN 1,0024B10000037648,City of Palo Alto,2020-12-31 14:43:00,PST,2020-12-31 19:35:00,PST,1900-01-01 04:52:32,1900-01-01 04:51:03,...,259,237,195,76,83,50,57.0,14.0,13.0,NaN
249431,249427,PALO ALTO CA / TED THOMPSON #3,0024B10000029F81,City of Palo Alto,2020-12-31 16:39:00,PST,2020-12-31 17:14:00,PST,1900-01-01 00:35:44,1900-01-01 00:35:18,...,259,237,195,76,83,50,57.0,14.0,13.0,NaN

### Turning it into a function

In [278]:
from geopy import distance

In [279]:
def distance_calc (row, label): #inspired by https://stackoverflow.com/questions/44446862/calculate-distance-between-latitude-and-longitude-in-dataframe
    POIlocation = (row['Latitude'], row['Longitude'])
    LabelX = (row['Label'+ str(label) +'_Lat'], row['Label'+ str(label) +'_Lon'])
    
    return distance.distance(POIlocation, LabelX).meters

In [298]:
def POIs_within_radius(df, poi_df, radius):
    df_unique_label = df.groupby('Label', group_keys=False).apply(lambda df: df.sample(1))
    df_unique_label = df_unique_label[['Label','CenterLat', 'CenterLon']]
    df_unique_label = df_unique_label.set_index('Label')
    
    for i in range(0,len(df_unique_label)): 
        df_poi['Label' + str(i) + '_Lat'] = df_unique_label.at[i,'CenterLat']
        df_poi['Label' + str(i) + '_Lon'] = df_unique_label.at[i,'CenterLon']
    
    for j in range(0,len(df_unique_label)): 
        df_poi[str(j) + '_Distance'] = df_poi.apply (lambda row: distance_calc (row, j),axis=1)

    fill = pd.DataFrame()
    for k in range(0,8):
        m = radius 
        LabelY = pd.DataFrame(df_poi[df_poi[(str(k) + '_Distance')] < m]['Category'].value_counts())
        LabelY = LabelY.rename(columns={"Category": k})
        LabelY = LabelY.T
        fill = empt.append(LabelY)
    fill = empt.reset_index()
    fill = empt.rename(columns={"index": "Label"})
    category_names = list(fill.columns[1:])
    category_names_count = ['# ' + x for x in category_names]
    fill = fill.rename(columns = dict(zip(category_names, category_names_count)))
    
    result = df.merge(fill, on = "Label")
    
    return result

In [300]:
start = time.time()
df_final = POIs_within_radius(df, df_poi, 500)
end = time.time()
print(f"Runtime: {end - start}")

Runtime: 50.49536657333374

In [301]:
df_final

,Unnamed: 0,Station Name,MAC Address,Org Name,Start Date,Start Time Zone,End Date,End Time Zone,Total Duration (hh:mm:ss),Charging Time (hh:mm:ss),...,# Shop & Service,# Professional & Other Places,# Food,# Outdoors & Recreation,# Travel & Transport,# Arts & Entertainment,# Nightlife Spot,# Residence,# College & University,# Event
0,0,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-29 20:17:00,PDT,2011-07-29 23:20:00,PDT,1900-01-01 03:03:32,1900-01-01 01:54:03,...,230,289,267,172,210,134,124.0,62.0,26.0,3.0
1,1,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 00:00:00,PDT,2011-07-30 00:02:00,PDT,1900-01-01 00:02:06,1900-01-01 00:01:54,...,230,289,267,172,210,134,124.0,62.0,26.0,3.0
2,2,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 08:16:00,PDT,2011-07-30 12:34:00,PDT,1900-01-01 04:17:32,1900-01-01 04:17:28,...,230,289,267,172,210,134,124.0,62.0,26.0,3.0
3,3,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 14:51:00,PDT,2011-07-30 16:55:00,PDT,1900-01-01 02:03:24,1900-01-01 02:02:58,...,230,289,267,172,210,134,124.0,62.0,26.0,3.0
4,4,PALO ALTO CA / HAMILTON #1,000D6F00015A9D76,City of Palo Alto,2011-07-30 18:51:00,PDT,2011-07-30 20:03:00,PDT,1900-01-01 01:11:24,1900-01-01 00:43:54,...,230,289,267,172,210,134,124.0,62.0,26.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249427,249405,PALO ALTO CA / TED THOMPSON #3,0024B10000029F81,City of Palo Alto,2020-12-30 16:30:00,PST,2020-12-30 16:46:00,PST,1900-01-01 00:15:29,1900-01-01 00:15:07,...,259,237,195,76,83,50,57.0,14.0,13.0,NaN
249428,249413,PALO ALTO CA / TED THOMPSON #4,0024B10000029BE4,City of Palo Alto,2020-12-31 09:47:00,PST,2020-12-31 12:42:00,PST,1900-01-01 02:54:57,1900-01-01 02:38:49,...,259,237,195,76,83,50,57.0,14.0,13.0,NaN
249429,249415,PALO ALTO CA / SHERMAN 6,0024B1000003763E,City of Palo Alto,2020-12-31 11:04:00,PST,2020-12-31 14:49:00,PST,1900-01-01 03:44:23,1900-01-01 03:43:52,...,259,237,195,76,83,50,57.0,14.0,13.0,NaN
249430,249422,PALO ALTO CA / SHERMAN 1,0024B10000037648,City of Palo Alto,2020-12-31 14:43:00,PST,2020-12-31 19:35:00,PST,1900-01-01 04:52:32,1900-01-01 04:51:03,...,259,237,195,76,83,50,57.0,14.0,13.0,NaN
249431,249427,PALO ALTO CA / TED THOMPSON #3,0024B10000029F81,City of Palo Alto,2020-12-31 16:39:00,PST,2020-12-31 17:14:00,PST,1900-01-01 00:35:44,1900-01-01 00:35:18,...,259,237,195,76,83,50,57.0,14.0,13.0,NaN